<div class="mythemes-poor">
  <div class="container">

    <div class="row mythemes-nav-small-device">
      <div class="col-xs-12 mythemes-nav-btn">
        <button type="button" class="btn-collapse btn-base-nav" data-toggle=".header-nav.base-nav">
          ☰ Menu
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <nav class="mythemes-nav-inline base-nav header-nav nav-collapse">
          <div class="nav-wrapper">
            <ul class="mythemes-menu">
              {{ range .Site.Menus.main }}
                {{ if not .Parent }}
                  {{ $hasChildren := .HasChildren }}
                  {{ $url := .URL }}
                  {{ $isActive := or (eq $.RelPermalink $url) (hasPrefix $.RelPermalink $url) }}
                  {{ if and $hasChildren (gt (len .Children) 0) }}
                    <li class="menu-item menu-item-has-children{{ if $isActive }} current-menu-item{{ end }}">
                      <a href="{{ $url }}">{{ .Name }}</a>
                      <ul class="sub-menu">
                        {{ range .Children }}
                          {{ $childActive := eq $.RelPermalink .URL }}
                          <li class="menu-item{{ if $childActive }} current-menu-item{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                          </li>
                        {{ end }}
                      </ul>
                    </li>
                  {{ else }}
                    <li class="menu-item{{ if $isActive }} current-menu-item{{ end }}">
                      <a href="{{ $url }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>
